<!-- Offset Image Hero -->
<section class="section is-large is-dark is-background-container has-background header-background animatable">
    <div class="background-image-container">
        <img src="{{ entry.heroBackgroundImage.one().getUrl('widescreenHuge') }}" data-object-fit>
    </div>
</section>
<section class="section is-dark is-vertical-center is-background-container hero offset-image animatable">
    <div class="container">
        <div class="hero-container is-background-container">
            <div class="background-image-container featured-image">
                <div class="transition-helper">
                    <img src="{{ entry.heroFeaturedImage.one().getUrl('fullHeightHuge') }}">
                </div>
            </div>
            <div class="heading-container">
                <p class="is-subheading has-dash">{{ entry.heroSubheading }}</p>
                <h1 class="is-large">{{ entry.heroHeading }}</h1>
            </div>
        </div>
    </div>
</section>