<!-- Offset Image Hero -->
<section class="section is-large is-dark is-background-container has-background hero animatable">
    <div class="background-image-container">
        <div class="transition-helper">
            <img src="{{ entry.heroFeaturedImage.one().getUrl('widescreenHuge') }}" data-object-fit>
        </div>
    </div>
    <div class="container is-small content-container">
        <p class="is-subheading has-dash heading-title-wrap"><span class="heading-title">{{ entry.heroSubheading }}</span></p>
        <h1 class="is-large heading-title-wrap"><span class="heading-title">{{ entry.heroHeading }}</span></h1>
    </div>
</section>