{# @var craft \craft\web\twig\variables\CraftVariable #}
<footer class="section is-small is-grey has-background">
    <div class="container is-medium">
        <h3>GET IN TOUCH</h3>
        <div class="columns is-block-tablet is-flex-desktop contact">
            <div class="column call-to-action">
                <p>
                    Ready to build an empire and watch your enemies fall before you?<br>
                    <a href="#">work@boyerwebstudios.com</a>
                </p>
            </div>
            <div class="column">
                <div class="columns is-mobile is-gapless">
                    <div class="column is-narrow address">
                        <p>
                            Boyer Web Studios<br>
                            9933 N Cherry Drive<br>
                            Kansas City, MO<br>
                            64155
                        </p>
                    </div>
                    <div class="column">
                        <p>
                            <a href="#">hello@boyerwebstudios.com</a><br>
                            +1 (816) 746-4003
                        </p>
                        <div class="social-media-links">
                            <a href="#" target="_blank">
                                <i class="icon-twitter"></i>
                            </a>
                            <a href="#" target="_blank">
                                <i class="icon-facebook"></i>
                            </a>
                            <a href="#" target="_blank">
                                <i class="icon-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <p class="copyright">&copy; 2018, Boyer Web Studios LLC. All Rights Reserved.</p>
    </div>
</footer>