{# @var craft \craft\web\twig\variables\CraftVariable #}
<footer class="section is-small is-grey has-background animatable">
    <div class="container is-medium animatable">
        <div class="copyright">
            <p>
                {#{{ footerInfo.copyright|replace('{year}', now|date('Y')) }}#}
                COPYRIGHT
                <br>
                <a href="{{ baseUrl }}privacy">Privacy Policy</a>
            </p>
        </div>
    </div>
</footer>