{# @var craft \craft\web\twig\variables\CraftVariable #}
<footer class="section footer-section is-small has-background animatable">
    <div class="grid-container">
        <div class="copyright">
            {#{{ footerInfo.copyright|replace('{year}', now|date('Y')) }}#}
            &copy;{{ now|date('Y') }}
        </div>
    </div>
</footer>