{# @var craft \craft\web\twig\variables\CraftVariable #}
<header>
    <div class="main-nav">
        {% include "_partials/_navbar.twig" %}
        {% include "_partials/_nav_overlay.twig" %}
    </div>
</header>