<div class="section is-dark is-background-container has-background nav-overlay">
    <div class="background-image-container">
        <img class="menu-background background-home" src="{{ baseUrl }}img/temp/cases-antioch_insurance_agency.jpg">
    </div>
    <div class="background-image-container">
        <img class="menu-background background-projects" src="{{ baseUrl }}img/temp/services-websites.jpg">
    </div>
    <div class="container is-small">
        <div class="links">
        <ul>
            <li><a href="#" data-target="background-home">Home</a></li>
            <li><a href="#" data-target="background-projects">Projects</a></li>
            <li><a href="#" data-target="background-home">About</a></li>
            <li><a href="#" data-target="background-projects">Services</a></li>
            <li><a href="#" data-target="background-home">Hire Us</a></li>
        </ul>
        </div>
        <div class="contact">
        <p>
            <a href="tel:+18167464003">+1 (816) 746-4003</a>
        </p>
        <p>
            <a href="mailto:hello@boyerwebstudios.com">hello@boyerwebstudios.com</a>
        </p>
        <div class="social-media-links">
            <a href="#" target="_blank">
                <i class="icon-twitter"></i>
            </a>
            <a href="#" target="_blank">
                <i class="icon-facebook"></i>
            </a>
            <a href="#" target="_blank">
                <i class="icon-linkedin"></i>
            </a>
        </div>
        </div> 
    </div>
</div>