{# @var craft \craft\web\twig\variables\CraftVariable #}
<nav class="main-nav is-light">
    <div class="container is-large">
        <div class="columns is-mobile">
            <div class="column">
                {% include "_partials/_logo.twig" %}
            </div>
            <div class="column has-text-right"><button class="nav-overlay-toggle"><span class="hidden-label">Close menu</span></button></div>
        </div>
    </div>
</nav>