{# @var craft \craft\web\twig\variables\CraftVariable #}
<nav class="container large main-nav">
    <div class="columns is-mobile">
        <div class="column">
            {% include "_partials/_logo.twig" %}
        </div>
        <div class="column has-text-right">nav button</div>
    </div>
</nav>