<div class="section is-dark notification-banner hidden">
    <div class="container is-regular">
        <div class="message">
            <p>We're launching! Join our launch party on Tuesday, Jan. 15.</p>
        </div>
        <div class="actions">
            <a class="primary" href="https://www.facebook.com/events/341010563160615/" target="_blank">Event Details</a>
            <a class="close-button" href="#">Dismiss</a>
        </div>
    </div>
</div>