<div class="revealer revealer-right">
    <div class="revealer-layer"></div>
    <div class="revealer-layer"></div>
    <div class="revealer-layer"></div>
    <div class="logo-animation">
        <svg class="svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" x="0px" y="0px" width="144px" height="141px" viewbox="0 0 144 141" style="enable-background:new 0 0 144 141;" preserveaspectratio="xMinYMin meet">
            <defs></defs>
            <g>
                <g id="letter">
                    <path d="M87.8,65.9c19.3,9.8,21.7,27.9,19.9,38.6c-3.6,22.7-18.9,36.4-50.2,36.4H0V0h56.6c26.9,0,46.6,16.1,45.8,43 C102.2,49.4,98,60.7,87.8,65.9z M57.6,55c17.3,0,17.9-25,0-25H37v25H57.6z M57.8,110c21.6,0,21.2-29,0-29H37v29H57.8z"/>
                </g>
                <circle id="dot" cx="128" cy="125" r="16"/>
            </g>
        </svg>
    </div>
</div>