RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_URI} !^/subfolder
RewriteCond %{REQUEST_URI} !^/exclude-file1\.html$
RewriteCond %{REQUEST_URI} !^/exclude-file2\.html$
RewriteCond %{REQUEST_URI} !^/exclude-dir

RewriteRule (.*) web/$1 [R=302,L]