{# @var craft \craft\web\twig\variables\CraftVariable #}
<footer class="site-footer animatable">
    <div class="page-container">
        <div class="copyright">
            {#{{ footerInfo.copyright|replace('{year}', now|date('Y')) }}#}
            &copy;{{ now|date('Y') }}
        </div>
    </div>
</footer>