{# @var craft \craft\web\twig\variables\CraftVariable #}
<nav class="page-container main-nav">
    <div class="nav-logo">
        {% include "_partials/components/_logo.twig" with {'size': 'compact' } %}
    </div>
</nav>