{# Text Left Content Block #}
<section class="section {{ block.topSpacing }} {{ block.bottomSpacing }}">
    <div class="container {{ block.containerSize }}">
        <div class="columns">
            <div class="column is-two-thirds text">
                {{ block.blockContent }}
            </div>
        </div>
    </div>
</section>