{# Text Narrow Content Block #}
<section class="section {{ block.topSpacing }} {{ block.bottomSpacing }}">
    <div class="container {{ block.containerSize }}">
        <div class="columns is-centered">
            <div class="column is-two-thirds-widescreen is-half-fullhd">
                <div class="columns">
                    <div class="column">
                        {{ block.blockContent }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>