<!-- Quote Content Block -->
<section class="section is-large is-dark has-background pullquote block-{{ block.type.handle }}">
    <div class="container animatable">
        <div class="columns">
            <div class="column is-two-thirds is-offset-2 quote">
                <div class="quotation-mark">
                    <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 195.34 158.73"><path d="M36.91,37.38Q22.77,55.07,22.76,73.21a42,42,0,0,0,1.85,13.23A36.65,36.65,0,0,1,48,78.13q16.9,0,28.61,10.92t11.69,29.38A39.29,39.29,0,0,1,82.75,139,40.28,40.28,0,0,1,48,158.73q-24.3,0-37.22-20Q0,122.12,0,97.21,0,65.53,16.15,40.45T64.91,0l5.84,11.38A85.5,85.5,0,0,0,36.91,37.38Zm107.05,0q-14.15,17.68-14.15,35.83a42,42,0,0,0,1.85,13.23A37.48,37.48,0,0,1,155,78.13q17.22,0,28.76,10.92t11.54,29.38q0,17.23-11.69,28.76A39.19,39.19,0,0,1,155,158.73q-24.3,0-37.22-20-10.77-16.62-10.77-41.53,0-31.68,16.15-56.76T172,0l5.84,11.38A85.57,85.57,0,0,0,144,37.38Z"/></svg>
                </div>
                <h1 class="heading-title-wrap"><span class="heading-title">{{ block.quote }}</span></h1>
                <p class="is-subheading has-text-right author">- {{ block.author }}</p>
            </div>
        </div>
    </div>
</section>