<!-- Text Content Block -->

<section class="section {{ block.topSpacing }} {{ block.bottomSpacing }}">
    <div class="container {{ block.containerSize }}">
        {{ block.blockContent }}
    </div>
</section>