{#

 # The site layout template
 # ------------------------
 #
 # This layout template extends the _layouts/base.html layout, and defines the
 # main site layout: the header, footer, and main content area.
 #
 # It’s never accessed directly. Instead it is extended by all of our main site
 # templates.
-#}

{% extends "_layouts/_base" %}

{# Set the namespace we'll use for Barba.js views to match our namespace in the nav. If it's not defined, use 'common' #}
{% set namespace = 'common' %}

{# Set the block prefix that we'll use for the content builder fields #}
{% set blockPrefix = '' %}

{% block body %}

    {% include "_partials/_page_revealer.twig" %}

    <div id="barba-wrapper">
        <div class="barba-container" data-namespace="{{ namespace }}">
            <div class="page-wrapper">
                {# -- Info header, including _navbar.twig -- #}
                {% include "_partials/_info_header.twig" %}

                <div id="page-content-container">
                    {# {% include "_partials/_notification_banner.twig" %} #}
                    {# -- Primary content block -- #}
                    {% block content %}{% endblock %}

                    {# -- Content that appears below the primary content block -- #}
                    {% block subcontent %}{% endblock %}

                    {# -- Info footer -- #}
                    {% include "_partials/_info_footer.twig" %}
                </div>
            </div>
        </div>

        {# -- HTML Footer -- #}
        {% include "_partials/_global_footer.twig" %}
    </div>
{% endblock %}