{# @var craft \craft\web\twig\variables\CraftVariable #}
{% extends "_layouts/_layout.twig" %}

{% block _inline_css %}
    <style>
        {{ source ("index_critical.min.css", ignore_missing = true) }}
    </style>
{% endblock %}

{% block content %}

<!-- Home Hero -->
<section class="section is-large is-dark is-vertical-center has-background hero home">
    <div class="container is-small ">
        <h1 class="is-large">HEADLINE WITH IMPACT.</h1>
        <p>
            We are Boyer Web Studios, a digital design and development agency based in Kansas City. Founded in 2011, we specialize in crafting unique brand identities and online experiences.
        </p>
    </div>
</section>

<!-- Home Case Study Grid -->
<section class="section is-offset-up home-cases">
    <div class="container">
        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <a href="#">
                    <article class="tile is-child is-dark is-background-container">
                        <div class="background-image-container">
                            <img class="image js-mouse-tilt-hover" src="/img/temp/cases-antioch_insurance_agency.jpg">
                        </div>
                        <header>
                            <p class="is-subheading">DIGITAL STRATEGY + WEBSITE DESIGN</p>
                            <h1>ANTIOCH INSURANCE AGENCY</h1>
                        </header>
                        <div class="description">
                            <p>
                                Empowering personalised insurance in Kansas City.
                            </p>
                            <a class="is-button is-text" href="#">See Project</a>
                        </div>
                    </article>
                </a>
            </div>
        </div>
        <div class="tile is-ancestor is-block-tablet is-flex-widescreen">
            <div class="tile is-parent">
                <a href="#">
                    <article class="tile is-child is-dark is-background-container">
                        <div class="background-image-container">
                            <img class="image js-mouse-tilt-hover" src="/img/temp/cases-kansas_dairy_ingredients.jpg">
                        </div>
                        <header>
                            <p class="is-subheading">DIGITAL STRATEGY + WEBSITE DESIGN</p>
                            <h1>KANSAS DAIRY INGREDIENTS</h1>
                        </header>
                        <div class="description">
                            <p>
                                Empowering personalised insurance in Kansas City.
                            </p>
                            <a class="is-button is-text" href="#">See Project</a>
                        </div>
                    </article>
                </a>
            </div>
            <div class="tile is-parent">
                <a href="#">
                    <article class="tile is-child is-dark is-background-container">
                        <div class="background-image-container">
                            <img class="image js-mouse-tilt-hover" src="/img/temp/cases-auto_transport_depot.jpg">
                        </div>
                        <header>
                            <p class="is-subheading">DIGITAL STRATEGY + WEBSITE DESIGN</p>
                            <h1>AUTO TRANSPORT DEPOT</h1>
                        </header>
                        <div class="description">
                            <p>
                                Empowering personalised insurance in Kansas City.
                            </p>
                            <a class="is-button is-text" href="#">See Project</a>
                        </div>
                    </article>
                </a>
            </div>
        </div>
    </div>
</section>

<!-- Home Secondary Headline -->
<section class="section is-medium">
    <div class="container is-small">
        <div class="columns">
            <div class="column is-two-fifths">
                <h2>
                    Secondary and also punchy headline, extra long.
                </h2>
            </div>
            <div class="column">
                <p>
                    Suspendisse sagittis elementum leo, sagittis ornare erat rutrum non. Cras iaculis sem volutpat molestie ornare. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed molestie cursus justo eget efficitur. Phasellus sagittis quam quis porttitor consequat. Morbi eu condimentum ipsum, eget vehicula quam. Proin velit lectus, iaculis quis nunc fermentum, ultrices ultrices erat.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- Home Services -->
<section class="section is-medium is-dark has-background services">
    <header class="container is-small">
        <p class="is-subheading">WHAT WE DO</p>
        <h1>Our Services</h1>
    </header>
    <div class="container">
        <div class="columns is-desktop is-gapless is-multiline">
            <div class="column">
                <a href="#">
                    <article class="service is-dark is-background-container">
                        <div class="background-image-container">
                            <img class="image js-mouse-tilt-hover" src="/img/temp/services-websites.jpg">
                        </div>
                        <h3>WEBSITES AND DIGITAL PLATFORMS</h3>
                    </article>
                </a>
                <a href="#">
                    <article class="service is-dark is-background-container">
                        <div class="background-image-container">
                            <img class="image js-mouse-tilt-hover" src="/img/temp/services-brand_strategy.jpg">
                        </div>
                        <h3>BRAND STRATEGY AND RESEARCH</h3>
                    </article>
                </a>
            </div>
            <div class="column">
                <a href="#">
                    <article class="service is-dark is-background-container">
                        <div class="background-image-container">
                            <img class="image js-mouse-tilt-hover" src="/img/temp/services-brand_identity.jpg">
                        </div>
                        <h3>BRAND IDENTITY AND ADVERTISING</h3>
                    </article>
                </a>
                <a href="#">
                    <article class="service is-dark is-background-container">
                        <div class="background-image-container">
                            <img class="image js-mouse-tilt-hover" src="/img/temp/services-social_media.jpg">
                        </div>
                        <h3>SOCIAL MEDIA AND CONTENT CREATION</h3>
                    </article>
                </a>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block _inline_js %}
{% endblock %}