{# @var craft \craft\web\twig\variables\CraftVariable #}
{% extends "_layouts/_layout.twig" %}

{% block _inline_css %}
    <style>
        {{ source ("index_critical.min.css", ignore_missing = true) }}
    </style>
{% endblock %}

{% block content %}
    
    <section>
        <div>
            <h1 style="max-width: 650px">Longform scroll with descriptive heading.</h1>
            <p style="max-width: 650px">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras id tempor turpis. In ac dignissim nulla. Ut lacinia ut metus vitae interdum. Donec eget quam tortor. Sed sodales lorem eu felis semper sodales. Phasellus nec sapien nibh. Aliquam dui nunc, vestibulum iaculis tincidunt a, mollis in augue. Nulla facilisi. Aenean hendrerit eu elit quis bibendum. Fusce dictum placerat sapien vel tempus. Donec molestie, ipsum sit amet mollis fermentum, ligula magna iaculis neque, sed rhoncus felis tellus nec enim. Fusce malesuada nisl nec nibh sollicitudin, a porttitor velit blandit. Nullam quis tempus mauris, a facilisis massa.
            </p>
        </div>
    </section>

{% endblock %}

{% block _inline_js %}
{% endblock %}
