/* Page Revealer */
.revealer {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1000;
    pointer-events: none;
    display: none;

    .revealer-layer {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: $white;

        &:nth-child(2) {
            background: #AAAAAA;
        }

        &:nth-child(3) {
            background: $black;
        }
    }

    &.animate-in {
        display: block;

        .revealer-layer {
            
            animation: revealer-fade-in 400ms $easeInOutCubic forwards;
            //animation: revealer-slide-in-1 600ms $easeInSine forwards;

            &:nth-child(1), &:nth-child(2) {
                display: none;
            }

            // &:nth-child(2) {
            //     animation-name: revealer-slide-in-2;
            // }

            // &:nth-child(3) {
            //     animation-name: revealer-slide-in-3;
            // }
        }
    }

    &.animate-out {
        display: block;

        .revealer-layer {
            animation: revealer-fade-out 400ms $easeInOutCubic forwards;
            // animation: revealer-slide-out-1 600ms $easeInSine forwards;

            &:nth-child(1), &:nth-child(2) {
                display: none;
            }

            // &:nth-child(2) {
            //     animation-name: revealer-slide-out-2;
            // }

            // &:nth-child(3) {
            //     animation-name: revealer-slide-out-3;
            // }
        }
    }
}

@keyframes revealer-fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes revealer-fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes revealer-slide-in-1 {
    0% {
        transform: translate3d(100%, 0, 0);
    }

    60%, 100% {
        transform: translate3d(0, 0, 0);
    }
}
@keyframes revealer-slide-in-2 {
    0%, 20% {
        transform: translate3d(100%, 0, 0);
    }

    80%, 100% {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes revealer-slide-in-3 {
    0%, 40% {
        transform: translate3d(100%, 0, 0);
    }

    100% {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes revealer-slide-out-1 {
    0%, 40% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-100%, 0, 0);
    }
}
@keyframes revealer-slide-out-2 {
    0%, 20% {
        transform: translate3d(0, 0, 0);
    }

    80%, 100% {
        transform: translate3d(-100%, 0, 0);
    }
}

@keyframes revealer-slide-out-3 {
    0% {
        transform: translate3d(0, 0, 0);
    }

    60%, 100% {
        transform: translate3d(-100%, 0, 0);
    }
}

/* Hero */
.animations-enabled {
    // Initial State
    .hero.will-animate {
        .transition-helper {
            transform: scale(1.1);
            opacity: 0;
        }

        p.is-subheading {
            opacity: 0;
            transform: translateY(3rem);

            &.has-dash::before {
                transform-origin: left center;
                transform: scaleX(0);
            }
        }

        h1 .heading-title {
            transform: translateY(100%);
        }

        p {
            opacity: 0;
            transform: translateY(1rem);
        }
    }

    // Visible State
    .hero.will-animate.is-active {
        .transition-helper {
            transition: transform $slow-transition-speed $easeOutCubic, opacity $slow-transition-speed $easeOutCubic;
            transform: scale(1);
            opacity: 1;
        }

        p.is-subheading {
            transition: all $normal-transition-speed $easeOutQuart;
            transition-delay: $fast-transition-speed - 100ms;
            opacity: 1;
            transform: translateX(0);

            &.has-dash::before {
                transition: all $normal-transition-speed $easeOutQuart;
                transition-delay: $fast-transition-speed + 200ms;
                transform-origin: left center;
                transform: scaleX(1);
            }
        }

        h1 .heading-title {
            transition: all $normal-transition-speed $easeOutQuart;
            transition-delay: $fast-transition-speed;
            transform: translateY(0);
        }

        p {
            transition: all $normal-transition-speed $easeOutQuart;
            transition-delay: $normal-transition-speed;
            opacity: 1;
            transform: translateY(0);
        }
    }
}

/* Home Hero */
.animations-enabled {
    // Initial State
    .hero.home.will-animate {
        .transition-helper {
            transform: scale(1.1);
            opacity: 0;
        }

        h1 .heading-title {
            transform: translateY(100%);
        }

        p {
            opacity: 0;
            transform: translateY(1rem);
        }
    }

    // Visible State
    .hero.home.will-animate.is-active {
        .transition-helper {
            transition: transform $slow-transition-speed $easeOutCubic, opacity $slow-transition-speed $easeOutCubic;
            transform: scale(1);
            opacity: 1;
        }

        h1 .heading-title {
            transition: transform $normal-transition-speed $easeOutQuart;
            transition-delay: $fast-transition-speed - 100ms;
            transform: translateY(0);
        }

        p {
            transition: transform $normal-transition-speed $easeOutQuart, opacity $normal-transition-speed $easeOutQuart;
            transition-delay: $normal-transition-speed;
            opacity: 1;
            transform: translateY(0);
        }
    }
}

/* Offset-Image Hero */
.animations-enabled {
    // Initial State
    .header-background.will-animate img {
        opacity: 0;
        transform: scale(1.1);
    }

    .hero.offset-image.will-animate {
        .heading-container {
            p.is-subheading {
                opacity: 0;
                transform: translateX(-2rem);
            }

            h1 {
                opacity: 0;
                transform: translateX(-2rem);
            }
        }

        .featured-image {
            transform: translateY(5rem);

            .transition-helper {
                transform: translateX(200%);
                overflow: hidden;
                opacity: 1;

                img {
                    transform: translateX(-180%);
                }
            }
        }
    }

    // Visible State
    .header-background.will-animate.is-active img {
        transition: transform $slow-transition-speed $easeOutQuart, opacity $slow-transition-speed $easeOutQuart;
        opacity: 1;
        transform: scale(1);
    }

    .hero.offset-image.will-animate.is-active {
        .heading-container {
            p.is-subheading {
                transition: all $slow-transition-speed $easeOutQuart;
                transition-delay: $normal-transition-speed - 100ms;
                opacity: 1;
                transform: translateX(0);
            }

            h1 {
                transition: transform $slow-transition-speed $easeOutQuart, opacity $slow-transition-speed $easeOutQuart;
                transition-delay: $normal-transition-speed + 100ms;
                opacity: 1;
                transform: translateX(0);
            }
        }

        .featured-image {
            transition: transform $slow-transition-speed $easeOutQuart;
            transform: translateY(0);

            .transition-helper {
                transition: transform $slow-transition-speed $easeOutQuart;
                transform: translateX(0);

                img {
                    transition: transform $slow-transition-speed $easeOutQuart;
                    transform: translateX(0);
                }
            }
        }
    }
}

/* Case Study Hero */
.animations-enabled {
    // Initial State
    .hero.case-study.will-animate {
        .heading-container {
            p.is-subheading {
                opacity: 0;
                transform: translateY(5rem);
            }

            h1 {
                opacity: 0;
                transform: translateY(5rem);
            }
        }

        .secondary-image {
            transform: translateY(5rem);

            .transition-helper {
                transform: translateX(200%);
                overflow: hidden;
                opacity: 1;

                img {
                    transform: translateX(-180%);
                }
            }
        }

        .content-container {
            .info-container, a.button {
                transform: translateY(2rem);
                opacity: 0;
            }
        }
    }

    // Visible State
    .hero.case-study.will-animate.is-active {
        .heading-container {
            p.is-subheading {
                transition: transform $slow-transition-speed $easeOutQuart, opacity $slow-transition-speed $easeOutQuart;
                transition-delay: $normal-transition-speed - 100ms;
                opacity: 1;
                transform: translateY(0);
            }

            h1 {
                transition: transform $slow-transition-speed $easeOutQuart, opacity $slow-transition-speed $easeOutQuart;
                transition-delay: $normal-transition-speed + 100ms;
                opacity: 1;
                transform: translateY(0);
            }
        }

        .secondary-image {
            transition: transform $slow-transition-speed $easeOutQuart;
            transform: translateY(0);

            .transition-helper {
                transition: transform $slow-transition-speed $easeOutQuart, opacity $slow-transition-speed $easeOutQuart;
                transform: translateX(0);
                opacity: 1;

                img {
                    transition: transform $slow-transition-speed $easeOutQuart;
                    transform: translateX(0);
                }
            }
        }

        .content-container {
            .info-container, a.button {
                transition: transform $slow-transition-speed $easeOutQuart, opacity $slow-transition-speed $easeOutQuart;
                transition-delay: $normal-transition-speed + 300ms;
                transform: translateY(0);
                opacity: 1;
            }

            a.button {
                transition-delay: $normal-transition-speed + 500ms;
            }
        }
    }
}

/* Case Study List */
.animations-enabled {
    // Initial State
    .case-list header.will-animate h1, .case-list header.will-animate p.is-subheading {
        transform: translateX(-2rem);
        opacity: 0;
    }
    .case-list .tile.will-animate {
        transform: translateY(3rem);
        opacity: 0;
    }

    // Visible State
    .case-list header.will-animate.is-active {
        h1, p.is-subheading {
            transition: all $normal-transition-speed $easeOutQuart;
            transform: translateX(0);
            opacity: 1;
        }

        h1 {
            transition-delay: $fast-transition-speed - 200ms;
        }
    }

    .case-list .tile.will-animate.is-active {
        transition: all $slow-transition-speed $easeOutQuart;
        transition-delay: $fast-transition-speed;
        transform: translateY(0);
        opacity: 1;

        &:nth-child(2) {
            transition: all $slow-transition-speed + 300ms $easeOutQuart;
            transition-delay: $fast-transition-speed;
        }
    }
}

/* Services Grid */
.animations-enabled {
    // Initial State
    .services.will-animate {
        header.will-animate {
            p.is-subheading {
                transform: translateX(-1rem);
                opacity: 0;
            }

            h1 {
                transform: translateX(-1rem);
                opacity: 0;
            }
        }

        .service.will-animate {
            .background-image-container .transition-helper {
                transform: scale(1.05);
                opacity: 0;
            }

            h3 .heading-title {
                opacity: 0;
            }
        }
    }

    // Visible State
    .services.will-animate.is-active {
        header.will-animate.is-active {
            p.is-subheading {
                transition: all $normal-transition-speed $easeOutQuart;
                transform: translateX(0);
                opacity: 1;
            }

            h1 {
                transition: all $normal-transition-speed $easeOutQuart;
                transform: translateX(0);
                opacity: 1;
            }
        }

        .service.will-animate.is-active {
            .background-image-container .transition-helper {
                transition: all $normal-transition-speed $easeOutQuart;
                transform: scale(1);
                opacity: 1;
            }

            h3 .heading-title {
                transition: all $normal-transition-speed $easeOutQuart;
                opacity: 1;
            }
        }
    }
}

/* Contact - Contact Form Section */
@keyframes contact-section-slide-up {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes contact-section-scale-fade-in {
    0% {
        transform: scale(1.05);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes contact-section-slide-fade-in {
    0% {
        transform: translateY(3rem);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.animations-enabled {
    // Initial State
    .contact-section.will-animate {
        .background-image-container .transition-helper img {
            animation: contact-section-scale-fade-in $slow-transition-speed + 500ms $easeOutCubic forwards;
        }

        h1 .heading-title {
            animation: contact-section-slide-up $normal-transition-speed $easeOutQuart forwards;
            transform: translateY(100%);
            animation-delay: $fast-transition-speed;
        }

        .contact-form {
            animation: contact-section-slide-fade-in $normal-transition-speed $easeOutQuart forwards;
            transform: translateY(3rem);
            opacity: 0;
            animation-delay: $normal-transition-speed;
        }
    }
}

/* Contact - Contact Info Section */
.animations-enabled {
    // Initial State
    .about-contact-section.will-animate {
        h1, .address, .contact, .map {
            transform: translateY(2rem);
            opacity: 0;
        }
    }
    
    // Visible State
    .about-contact-section.will-animate.is-active {
        h1, .address, .contact, .map {
            transition: all $normal-transition-speed $easeOutQuart;
            transform: translateY(0);
            opacity: 1;
        }

        .address {
            transition-delay: $fast-transition-speed - 100ms;
        }

        .contact {
            transition-delay: $fast-transition-speed + 100ms;
        }

        .map {
            transition-delay: $fast-transition-speed + 300ms;
        }
        
    }
}

/* About - Team Slider Animations */
.animations-enabled {
    // Initial State
    .team-section .team-header.will-animate h1 {
        transform: translateX(-2rem);
        opacity: 0;
    }

    .team-section .team-container.will-animate .slide {
        transform: translateY(3rem);
        opacity: 0;
    }

    // Visible State
    .team-section .team-header.will-animate.is-active h1 {
        transition: all $normal-transition-speed $easeOutQuart;
        transform: translateX(0);
        opacity: 1;
    }

    .team-section .team-container.will-animate.is-active .slide {
        transition: all $slow-transition-speed $easeOutQuart;
        transform: translateY(0);
        opacity: 1;

        @for $i from 0 to 15 {
            &:nth-child(#{$i + 1}) {
                transition-delay: (100ms * ($i + 1)) + 100ms;
            }
        }
    }
}

/* Block - Text */
.animations-enabled {
    // Initial State
    .block-text .container.will-animate {
        h1, p, ul {
            transform: translateY(2rem);
            opacity: 0;
        }
    }
    
    // Visible State
    .block-text .container.will-animate.is-active {
        h1, p, ul {
            transition: all $normal-transition-speed $easeOutQuart;
            transform: translateY(0);
            opacity: 1;
        }

        p, ul {
            transition-delay: $fast-transition-speed - 200ms;
        }
    }
}

/* Block - Text Image Left + Text Image Right */
@keyframes block-image-overlay-out {
    0%, 50% {
        transform: scaleY(1);
    }

    100% {
        animation-timing-function: $easeOutCubic;
        transform: scaleY(0);
    }
}

@keyframes block-image-container-in {
    0% {
        transform: scaleY(0);
        animation-timing-function: $easeInQuart;
    }

    50%, 100% {
        transform: scaleY(1);
    }
}
.animations-enabled {
    // Initial State
    .block-textimageleft .container.will-animate, .block-textimageright .container.will-animate {
        // .image .transition-helper {
        //     position: relative;
        //     transform-origin: top center;
        //     transform: scaleX(0);
        //     overflow: hidden;

        //     &::before {
        //         position: absolute;
        //         display: flex;
        //         content: '';
        //         left: 0;
        //         top: -1%;
        //         width: 100%;
        //         height: 102%;
        //         transform-origin: bottom center;
                

        //         background: #F5F5F5;
        //     }
        // }

        .transition-helper {
            opacity: 0;
            transform: translateY(2rem);
        }

        h1, p, ul {
            transform: translateY(2rem);
            opacity: 0;
        }
    }
    
    // Visible State
    .block-textimageleft .container.will-animate.is-active, .block-textimageright .container.will-animate.is-active {
        // .image .transition-helper {
        //     animation: block-image-container-in $slow-transition-speed $easeOutQuart forwards;

        //     &::before {
        //         animation: block-image-overlay-out $slow-transition-speed $easeOutQuart forwards;
        //     }
        // }

        .transition-helper {
            transition: all $slow-transition-speed $easeInOutQuart;
            opacity: 1;
            transform: translateY(0);
        }

        h1, p, ul {
            transition: all $normal-transition-speed $easeOutQuart;
            transform: translateY(0);
            opacity: 1;
        }

        p, ul {
            transition-delay: $fast-transition-speed - 200ms;
        }
    }
}

/* Block - Image + Image Two Column */
.animations-enabled {
    // Initial State
    .block-image .container.will-animate, .block-imagetwocolumn .container.will-animate {
        .transition-helper {
            opacity: 0;
            transform: translateY(2rem);
        }
    }
    
    // Visible State
    .block-image .container.will-animate.is-active, .block-imagetwocolumn .container.will-animate.is-active {
        .transition-helper {
            transition: all $slow-transition-speed $easeInOutQuart;
            opacity: 1;
            transform: translateY(0);
        }
    }
}

/* Block - Text Heading Left */
.animations-enabled {
    // Initial State
    .text-heading-left.will-animate {
        p.is-subheading .heading-title {
            transform: translateY(100%);
        }

        h2 {
            transform: translateX(-1rem);
            opacity: 0;
        }

        p {
            opacity: 0;
        }
    }

    // Visible State
    .text-heading-left {
        p.is-subheading.will-animate.is-active .heading-title {
            transition: all $normal-transition-speed $easeOutQuart;
            transform: translateY(0);
        }

        h2.will-animate.is-active {
            transition: all $normal-transition-speed $easeOutQuart;
            transform: translateX(0);
            opacity: 1;
        }

        p.will-animate.is-active {
            transition: all $normal-transition-speed $easeOutQuart;
            transition-delay: $fast-transition-speed - 100ms;
            opacity: 1;
        }
    }
}

/* Block - Text Narrow */
.animations-enabled {
    // Initial State
    .block-textnarrow .container.will-animate {
        h1, h2, h3, h4, h5, h6, p {
            transform: translateY(2rem);
            opacity: 0;
        }
    }

    // Visible State
    .block-textnarrow .container.will-animate.is-active {
        h1, h2, h3, h4, h5, h6, p {
            transition: opacity $normal-transition-speed $easeOutQuart, transform $normal-transition-speed $easeOutQuart;
            transform: translateY(0);
            opacity: 1;
        }

        @for $i from 0 to 15 {
            :nth-child(#{$i + 1}) {
                transition-delay: 50ms * $i + 1;
            }
        }
    }
}

/* Block - Text Left */
.animations-enabled {
    // Initial State
    .block-textleft .container.will-animate {
        h1, p, ul {
            transform: translateY(2rem);
            opacity: 0;
        }
    }
    
    // Visible State
    .block-textleft .container.will-animate.is-active {
        h1, p, ul {
            transition: all $normal-transition-speed $easeOutQuart;
            transform: translateY(0);
            opacity: 1;
        }

        p, ul {
            transition-delay: $fast-transition-speed - 200ms;
        }
    }
}

/* Block - Quote */
.animations-enabled {
    // Initial State
    .block-quote .container.will-animate {
        h1 .heading-title {
            transform: translateY(100%);
        }

        .author {
            transform: translateX(-2rem);
            opacity: 0;
        }

        .quotation-mark {
            transform: translateY(2rem);
            opacity: 0;
        }
    }
    
    // Visible State
    .block-quote .container.will-animate.is-active {
        h1 .heading-title {
            transition: all $slow-transition-speed $easeOutQuart;
            transform: translateY(0);
        }

        .author {
            transition: all $slow-transition-speed $easeOutQuart;
            transition-delay: $normal-transition-speed;
            transform: translateX(0);
            opacity: 1;
        }

        .quotation-mark {
            transition: all $slow-transition-speed $easeOutQuart;
            transform: translateY(0);
            opacity: 1;
        }
    }
}

/* Block - Next Section */
.animations-enabled {
    // Initial State
    .block-nextsection.will-animate {
        .transition-helper {
            opacity: 0;
            transform: scale(1.1);
        }

        p.is-subheading .heading-title {
            transform: translateY(100%);
        }

        h1 .heading-title {
            transform: translateY(100%);
        }
    }
    
    // Visible State
    .block-nextsection.will-animate.is-active {
        .transition-helper {
            transition: all $slow-transition-speed $easeOutQuart;
            opacity: 1;
            transform: scale(1);
        }

        p.is-subheading .heading-title {
            transition: all $normal-transition-speed $easeOutQuart;
            transform: translateY(0);
        }

        h1 .heading-title {
            transition: all $normal-transition-speed $easeOutQuart;
            transition-delay: $fast-transition-speed - 200ms;
            transform: translateY(0);
        }
    }
}

/* Footer */
.animations-enabled {
    // Initial State
    footer .will-animate {
        opacity: 0;
        //transform: translateY(2rem);
    }

    // Visible State
    footer .will-animate.is-active {
        transition: all $normal-transition-speed $easeOutQuart;
        opacity: 1;
        //transform: translateY(0);
    }
}