/* Page Revealer */
.revealer {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 10000;
    display: none;

    .logo-animation {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1001;

        .transition-helper img {
            max-width: 15rem;
            width: 80%;
            margin: 0px auto;
            display: flex;
            animation: logo-pulse 2000ms linear infinite;
        }
    }

    .revealer-layer {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: #FFFFFF;
    }

    &.show, &.animate-in {
        display: block;
        
        .logo-animation {
            opacity: 0;
            animation: revealer-fade-in 800ms $easeInOutCubic forwards;
            animation-delay: 1500ms;
        }
    }

    &.animate-in {
        display: block;

        .revealer-layer {
            
            animation: revealer-fade-in 400ms $easeInOutCubic forwards;
            //animation: revealer-slide-in-1 600ms $easeInSine forwards;
        }
    }

    &.animate-out {
        display: block;

        .logo-animation {
            transition: opacity 400ms $easeInOutCubic;
            opacity: 0;
            transition-delay: 0;
        }

        .revealer-layer {
            animation: revealer-fade-out 400ms $easeInOutCubic forwards;
            // animation: revealer-slide-out-1 600ms $easeInSine forwards;
        }
    }
}

@keyframes logo-pulse {
    0% {
        opacity: 0.2;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.2;
    }
}

@keyframes revealer-fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes revealer-fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* Hero */
.animations-enabled {
    // Initial State
    .hero.will-animate {
        .transition-helper {
            transform: scale(1.1);
            opacity: 0;
        }
    }

    // Visible State
    .hero.will-animate.is-active {
        .transition-helper {
            transition: transform $slow-transition-speed $easeOutCubic, opacity $slow-transition-speed $easeOutCubic;
            transform: scale(1);
            opacity: 1;
        }
    }
}