/* Common Styles - used as a baseline boilerplate theme for most sites. */

html {
  background: #FFFFFF;
}

body {
  margin: auto;
  background: #FFFFFF;
}

html {
  background: #FFFFFF;
}

body {
  margin: auto;
  background: #FFFFFF;
}

object.svg {
  pointer-events: none;
}

/* Global Typography Styles */
body, html {
  font-family: $body-copy-font;
  color: $body-copy-color;
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // scale down font size responsively on smaller screens
  @media (max-width: 1000px) {
    font-size: calc(16px + .4vw);
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: $heading-copy-font;
    color: $heading-copy-color;
    margin-top: 0;
  }

  p {
    margin-bottom: 1.6em;
  }

  .is-dark h1, .is-dark h2, .is-dark h3, .is-dark h4, .is-dark h5, .is-dark h6 {
    color: $dark-heading-copy-color;
  }

  .is-dark p {
    color: rgba(#FFFFFF, 0.9);
  }
}

p.is-subheading {
  font-family: $subheading-copy-font;
  letter-spacing: 0.03em;
  color: #887F74;
  font-size: px-to-em(20px);
  max-width: 36rem;
}

p.is-multi-column {
  @include breakpoint(large up) {
    column-count: 2;
    column-gap: 2.8em;
    word-break: break-word;
  }
}

a {
  color: $primary-accent;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

/* Common Layout Classes */
img, audio, video {
  display: block;
}

img.cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

img:not(.cover) {
  width: 100%;
  height: auto;
}

.clearfix {
  &:before, &:after {
      content: "";
      display: table;
  }

  &:after {
      clear: both;
  }
}

.grid-container, .page-container {
  //width: 81%;
  //margin: 0 $container-margin;
  //margin: 0 auto;
  max-width: $global-width;
  margin-right: auto;
  margin-left: auto;
  //overflow-x: hidden;
  overflow-y: visible;

  &.is-full {
    max-width: none;
  }

  &.is-small {
    padding-left: $container-small-margin;
    padding-right: $container-small-margin;
  }

  &.is-tiny {
    padding-left: 1rem;
    padding-right: 1rem;

    @include breakpoint(medium) {
      padding-left: 5rem;
      padding-right: 5rem;
    }

    @include breakpoint(large up) {
      padding-left: 12rem;
      padding-right: 12rem;
    }
  }

  &.is-tiny-desktop {
    @include breakpoint(large up) {
      padding-left: 12rem;
      padding-right: 12rem;
    }
  }

  &.is-small-desktop {
    @include breakpoint(large up) {
      padding-left: $container-small-margin;
      padding-right: $container-small-margin;
    }
  }

  .grid-margin-x {
    margin-right: rem-calc(map-get($grid-column-gutter, "small")) * -1;
    margin-left: rem-calc(map-get($grid-column-gutter, "small")) * -1;

    @include breakpoint(medium up) {
      margin-right: rem-calc(map-get($grid-column-gutter, "medium")) * -1;
      margin-left: rem-calc(map-get($grid-column-gutter, "medium")) * -1;
    }
  }
}

.page-container {
  padding-right: rem-calc(map-get($grid-column-gutter, "small")) / 2;
  padding-left: rem-calc(map-get($grid-column-gutter, "small")) / 2;

  @include breakpoint(medium up) {
    padding-right: rem-calc(map-get($grid-column-gutter, "medium")) / 2;
    padding-left: rem-calc(map-get($grid-column-gutter, "medium")) / 2;
  }
}

.grid-x {
  &.is-reversed-desktop {
    @include breakpoint(medium up) {
      flex-direction: row-reverse;
    }
  }
}

.section {
  padding: 0;

  &.is-small {
    padding: $small-spacing 0;
  }

  &.is-small-desktop {
    @include breakpoint(large up) {
      padding: $small-spacing 0;
    }
  }

  &.is-small-spaced:not(:first-child) {
    padding-top: $small-spacing;
  }

  &.is-small-top {
    padding-top: $small-spacing;
  }
  &.is-small-bottom {
    padding-bottom: $small-spacing;
  }

  &.is-medium {
    padding: $medium-spacing 0;

    @include breakpoint(small down) {
      padding: $medium-spacing/2 0
    }
  }

  &.is-medium-desktop {
    @include breakpoint(large up) {
      padding: $medium-spacing 0;
    }
  }

  &.is-medium-spaced:not(:first-child) {
    padding-top: $medium-spacing;
  }

  &.is-medium-top {
    padding-top: $medium-spacing;
  }
  &.is-medium-bottom {
    padding-bottom: $medium-spacing;
  }

  &.is-large {
    padding: $large-spacing 0;

    @include breakpoint(small down) {
      padding: $large-spacing/2 0
    }
  }

  &.is-large-desktop {
    @include breakpoint(large up) {
      padding: $large-spacing 0;
    }
  }

  &.is-large-spaced:not(:first-child) {
    padding-top: $large-spacing;
  }

  &.is-large-top {
    padding-top: $large-spacing;
  }
  &.is-large-bottom {
    padding-bottom: $large-spacing;
  }

  &.is-secondary-section {
    background: #F8F8F8;
  }
}

[v-cloak] {
  display: none;
}

form {
  .field input, .field textarea {
    
    border: none;
    box-shadow: 0px 5px 12px 0px rgba(#316489 ,0.06);
    background: #FFFFFF;
    border-left: 2px solid #FFFFFF;
    color: #003053;
    font-size: px-to-em(20px);
    font-weight: 600;
    padding: 1.75rem;
    margin-bottom: 1.5rem;

    transition: border-color $fast-transition-speed $easeInOutCubic, box-shadow $fast-transition-speed $easeInOutCubic;

    @include breakpoint(small down) {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      font-size: px-to-em(18px);
    }

    &::placeholder {
      color: #7B8D9A;
    }

    &:focus, &:active {
      border: none;
      border-left: 2px solid $primary-accent;
      box-shadow: 0px 12px 15px 0px rgba(#0075CB, 0.1);
    }

    &.invalid {
      border-color: #d10e0e;
      color: #d10e0e;

      &::placeholder {
        color: #d10e0e;
      }
    }
  }

  .field-group {
    display: flex; 
    flex-direction: row;

    @include breakpoint(small down) {
      flex-direction: column;
    }

    .field {
      flex: 1;
      
      @include breakpoint(medium up) {
        &:not(:last-of-type) {
          margin-right: 0.75rem;
        }

        &:not(:first-of-type) {
          margin-left: 0.75rem;
        }
      }
    }
  }

  .buttons .button {
    width: 100%;

    background: $primary-accent;
    border-color: $primary-accent;
    color: #FFFFFF;
    padding: 1.25rem;

    &:hover {
      background: darken($primary-accent, 5);
      border-color: darken($primary-accent, 5);
    }

    &.submitted {
      background: #00b330;
      border-color: #00b330;
    }
  }
}

/* Utility Classes */
.is-vertical-center {
  display: flex;
  justify-content: center;
}

.is-centered {
  justify-content: center;
}

.is-background-container {
  position: relative;
  z-index: 1;
}

.background-image-container {
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;

  img, video {
    position: relative;
    max-width: none;
    object-fit: cover;
    object-position: center;
    left: -5%;
    top: -5%;
    width: 110%;
    height: 110%;
  }
}

video {
  height: auto;
  width: 100%;
}

.transition-helper {
  width: 100%;
  height: 100%;
}

.background-video-container {
  position: absolute;
  top: 0;
  left: 0;
  //padding-bottom: 56.25%;
  height: 100%;
  width: 100%;
  transition: 1s opacity ease;
  z-index: -1;
  opacity: 0;

  &.loaded {
    opacity: 1;
  }

  .background-video, .background-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    opacity: 0.5;
  }
}