@charset "utf-8";

/* Color and font variables */
$primary-accent: #9D723F;
$secondary-accent: #223143;

$body-copy-font: 'Source Sans Pro', sans-serif;
$body-copy-color: #555555;
$subheading-copy-font: "PT Serif", serif;
$heading-copy-font: "PT Serif", serif;
$heading-copy-color: $primary-accent;
$dark-heading-copy-color: #D09C5F;

/* Container Margins */
$container-small-margin: 7.5%; // width: 85%;

$fixed-nav-size: 4.5rem;
$mobile-nav-width: 15rem;

/* Layout variables */
$base-font-size: 19px;
$page-container-spacing: 1rem;
$small-spacing: 4rem;
$medium-spacing: 8rem;
$large-spacing: 12rem;

$numbered-heading-offset: 2.5rem;

/* Transition variables */
$fast-transition-speed: 400ms;
$normal-transition-speed: 750ms;
$slow-transition-speed: 1200ms;

// CSS Easing functions - https://github.com/KingScooty/sass-easing
@import "~awesome-sass-easing/_sass-easing.scss";