@charset "utf-8";

/* Color variables */
$black: #0c0d0e;
$white: #FFFFFF;
$off-white: #FAFAFA;
$accent: $black;
$body-copy-font: 'Lato', sans-serif;
$body-copy-color: #4a4c4d;
$subheading-copy-font: "Lato", sans-serif;
$heading-copy-font: "Lato", sans-serif;
$heading-copy-color: #0c0d0e;

/* Container Margins */
$container-small-margin: 7.5%; // width: 85%;

$fixed-nav-size: 4.5rem;

/* Layout variables */
$small-spacing: 4rem;
$medium-spacing: 8rem;
$large-spacing: 12rem;

/* Transition variables */
$fast-transition-speed: 400ms;
$normal-transition-speed: 750ms;
$slow-transition-speed: 1200ms;

// CSS Easing functions - https://github.com/KingScooty/sass-easing
@import "~awesome-sass-easing/_sass-easing.scss";