@charset "utf-8";

@import "variables";

@import "~bulma/sass/utilities/_all";
@import "~bulma/sass/base/_all";
//@import "~bulma/sass/components/_all";
@import "~bulma/sass/grid/_all";
@import "~bulma/sass/layout/_all";

/* Modified imports for ~bulma/sass/elements/_all.scss */
//@import "~bulma/sass/elements/_all";
@import "~bulma/sass/elements/box.sass";
@import "~bulma/sass/elements/button.sass";
//@import "~bulma/sass/elements/container.sass";
@import "~bulma/sass/elements/content.sass";
@import "~bulma/sass/elements/form.sass";
@import "~bulma/sass/elements/icon.sass";
@import "~bulma/sass/elements/image.sass";
@import "~bulma/sass/elements/notification.sass";
@import "~bulma/sass/elements/progress.sass";
@import "~bulma/sass/elements/table.sass";
@import "~bulma/sass/elements/tag.sass";
@import "~bulma/sass/elements/title.sass";
@import "~bulma/sass/elements/other.sass";

/* Global Typography Styles */
body, html {
  font-family: "Agane Regular", sans-serif;
  color: $body-copy-color;
  font-size: 20px;

  // scale up a bit on huge screens 
  @media (min-width: 2000px) {
    font-size: 22px;
  }

  // scale down font size responsively on smaller screens
  @media (max-width: 1000px) {
    font-size: calc(14px + .4vw);
  }
}

h1, h2, h3 {
  line-height: 1.2em;
  margin-bottom: 0.8em;
}

h1.is-large {
  font-family: "Agane Extra Bold", sans-serif;
  font-size: 4rem;
  color: $heading-copy-color;

  @include desktop {
    font-size: 6rem;
  }
}

h1 {
  font-family: "Agane Extra Bold", sans-serif;
  font-size: 3.5rem;
  color: $heading-copy-color;
}

h2 {
  font-family: "Agane Extra Bold", sans-serif;
  font-size: 2.25rem;
  color: $heading-copy-color;
}

h3 {
  font-family: "Agane Bold", sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
  color: $heading-copy-color;
}

p {
  line-height: 1.6em;
  letter-spacing: 0.02em;
}

/* Common Layout Classes */
.container {
  //width: 81%;
  margin: 0 3.8%;
  //margin: 0 auto;
  position: relative;

  &.is-full {
    width: 100%;
  }

  &.is-large {
    //width: 96%;
    margin: 0px 2%;
  }

  &.is-small {
    // width: 72%;
    margin: 0px 14%;
  }
}

.section {
  padding: 6rem 0;

  &.is-small {
    padding: 3rem 0;
  }

  &.is-large {
    padding: 10rem 0;
  }

  &.is-dark {
    h1, h2, h3, p {
      color: $white;
    }
  }
}

/* Utility Classes */
.is-vertical-center {
  display: flex;
  justify-content: center;
}

.is-offset-up {
  position: relative;
  top: -5rem;
}

/* General Styles */
a.logo {
  position: relative;
  display: inline-block;

  .svg {
    height: 35px;
    width: auto;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

nav.main-nav {
  padding: 1em 0;
  position: fixed;
  margin: 0px auto;
  width: 100%;

  &.is-light {
    color: $white;

    h1, h2, h3 {
      color: $white;
    }

    .logo svg {
      fill: $white;
    }
  }
}

.hero.home {
  min-height: 100vh;
  background: $black;
  text-align: left;

  h1, h2, h3 {
    max-width: 45rem;
    margin-bottom: 0.6em;
  }

  p {
    max-width: 35rem;
  }

  // offset container to make space for the overlapping content later on
  .container {
    margin-top: -5rem;
  }
}