/* 
** style.scss - you'll be making most of your changes here.
**
** Refer to the _variables.scss file to set up some of the more 
** commonly-used settings for individual sites! 
*/
@charset "utf-8";

/******************** Imports ********************/
@import "fonts";
@import "variables";
@import "functions";
@import "animations";

@import "foundation-settings";
@import '~foundation-sites/scss/foundation';

@import 'lity/dist/lity.css';
@import 'slick-slider/slick/slick.scss';

// Global styles
@include foundation-global-styles;
@include foundation-forms;
@include foundation-typography;

// Grids
@include foundation-xy-grid-classes;

// Generic components
@include foundation-button;
@include foundation-button-group;
@include foundation-close-button;
@include foundation-label;
@include foundation-table;

// Helpers
@include foundation-visibility-classes;

// Hamburger Icons
$hamburger-padding-x: 10px;
$hamburger-padding-y: 10px;
$hamburger-layer-width: 35px;
$hamburger-layer-height: 3px;
$hamburger-layer-spacing: 6px;
$hamburger-types: ('squeeze');
$hamburger-layer-color: #FFFFFF;
$hamburger-hover-opacity: 1;
@import 'hamburgers/_sass/hamburgers/hamburgers';

// Common Styles (overrides and utilities)
@import "common";

/******************** General Styles ********************/
a.logo {
  position: relative;
  display: flex;
  justify-content: center;

  .svg, img {
    height: 35px;
    width: auto;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.rtf li {
  margin-bottom: 1em;
}

.hamburger {
  padding-bottom: 5px;
}

// Buttons 
.button {
  padding: 0.8rem 1.3rem;
  margin-bottom: 0.5rem;
  align-self: flex-start;
  //min-width: 12rem;

  background: $primary-accent;
  border: 1px solid $primary-accent;
  border-radius: 3px;

  font-size: px-to-em(16px);
  font-weight: 500;
  color: #FFFFFF;
  letter-spacing: 0.03em;
  
  &:not(:only-of-type, :last-of-type) {
    margin-right: 0.7rem;
  }

  transition: transform $fast-transition-speed $easeInOutCubic, background-color $fast-transition-speed $easeInOutCubic, border $fast-transition-speed $easeInOutCubic, color $fast-transition-speed $easeInOutCubic;

  &:hover {
    background: darken($primary-accent, 20);
    border-color: darken($primary-accent, 20);
    transform: translateY(-0.1rem);
  }

  &.no-outline {
    border: none;
  }

  &.no-padding {
    max-width: none;
  }
}

.buttons .button:not(.text) {
  @include breakpoint(small down) {
    margin-right: 0;
    width: 100%;
  }
}

.button.secondary {
  font-weight: 700;
  background: rgba($primary-accent, 0);
  border-color: $primary-accent;
  color: $primary-accent;

  &:hover, &:active {
    background: rgba($primary-accent, 1);
    color: #FFFFFF;
  }
}

.button.text {
  padding: 0.4rem 0;
  background: none;
  
  color: rgba($body-text-color, 1);
  border: none;
  border-bottom: 2px solid rgba($body-text-color, 1);
  border-radius: 0;

  margin-top: 0.8rem;
  margin-bottom: 0.8rem + 0.5rem;
  transition: transform $fast-transition-speed $easeInOutCubic, opacity $fast-transition-speed $easeInOutCubic;

  &:hover {
    opacity: 0.6;
  }
}

.is-dark .button, .button.is-light {
  background: #FFFFFF;
  border-color: #FFFFFF;
  color: $primary-accent;

  &:hover, &:active {
    border-color: #DFDFDF;
    background: #DFDFDF;
    color: $primary-accent;
  }
}

.is-dark .button.text, .button.is-light.text {
  background: none;
  border: none;
  border-bottom: 2px solid #FFFFFF;
  color: rgba(#FFFFFF, 1);
}

.is-dark .button.secondary, .button.is-light.secondary {
  background: rgba(#FFFFFF, 0);
  border-color: #FFFFFF;
  color: #FFFFFF;

  &:hover, &:active {
    border-color: #FFFFFF;
    background: #FFFFFF;
    color: $primary-accent;
  }
}

// Navigation
header.site-header {
  padding: 0.5rem 0;
  border-bottom: 1px solid #DDDDDD;

  nav.main-nav .nav-logo {
    display: inline-block;
  }
} 

// Footer

footer.site-footer {
  padding: 1rem 0;
  border-top: 1px solid #DDDDDD;
}

/******************** Block Styles ********************/