@charset "utf-8";

@import "variables";

@import "~bulma/sass/utilities/_all";
@import "~bulma/sass/base/_all";
//@import "~bulma/sass/components/_all";
@import "~bulma/sass/grid/_all";
@import "~bulma/sass/layout/_all";

/* Modified imports for ~bulma/sass/elements/_all.scss */
//@import "~bulma/sass/elements/_all";
@import "~bulma/sass/elements/box.sass";
@import "~bulma/sass/elements/button.sass";
//@import "~bulma/sass/elements/container.sass";
@import "~bulma/sass/elements/content.sass";
@import "~bulma/sass/elements/form.sass";
@import "~bulma/sass/elements/icon.sass";
@import "~bulma/sass/elements/image.sass";
@import "~bulma/sass/elements/notification.sass";
@import "~bulma/sass/elements/progress.sass";
@import "~bulma/sass/elements/table.sass";
@import "~bulma/sass/elements/tag.sass";
@import "~bulma/sass/elements/title.sass";
@import "~bulma/sass/elements/other.sass";

/* Global Typography Styles */
body, html {
  font-family: "Agane Regular", sans-serif;
  color: $body-copy-color;
  font-size: 20px;

  // scale up a bit on huge screens 
  @media (min-width: 2000px) {
    font-size: 22px;
  }

  // scale down font size responsively on smaller screens
  @media (max-width: 1000px) {
    font-size: calc(14px + .4vw);
  }
}

h1, h2, h3, p.is-subheading {
  line-height: 1.2em;
  margin-bottom: 0.6em;
}

h1.is-large {
  font-family: "Agane Extra Bold", sans-serif;
  font-size: 4rem;
  color: $heading-copy-color;

  @include desktop {
    font-size: 6rem;
  }
}

h1 {
  font-family: "Agane Extra Bold", sans-serif;
  font-size: 3rem;
  color: $heading-copy-color;

  @include desktop {
    font-size: 3.5rem;
  }
}

h2 {
  font-family: "Agane Extra Bold", sans-serif;
  font-size: 2rem;
  color: $heading-copy-color;

  @include desktop {
    font-size: 2.25rem;
  }
}

h3 {
  font-family: "Agane Bold", sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
  color: $heading-copy-color;
}

p {
  font-weight: normal;
  line-height: 1.6em;
  letter-spacing: 0.02em;
  margin-bottom: 1em;
}

p.is-subheading {
  font-weight: bold;
  letter-spacing: 0.06em;
  color: $heading-copy-color;
}

.is-dark p.is-subheading {
  color: #DDDDDD;
}

a {
  font-weight: bold;
  letter-spacing: 0.03em;
  color: $heading-copy-color;
  font-size: 0.9em;
}

/* Common Layout Classes */
img, audio, video {
  max-width: none;
}

.container {
  //width: 81%;
  margin: 0 9.5%;
  //margin: 0 auto;
  position: relative;

  &.is-full {
    width: 100%;
  }

  &.is-large {
    //width: 96%;
    margin: 0px 2%;
  }

  &.is-small {
    // width: 72%;
    margin: 0px 14%;
  }
}

.section {
  padding: 0;

  &.is-small {
    padding: 3rem 0;
  }

  &.is-medium {
    padding: 6rem 0;
  }

  &.is-large {
    padding: 10rem 0;
  }
}

/* Utility Classes */
.is-vertical-center {
  display: flex;
  justify-content: center;
}

.is-offset-up {
  position: relative;
  top: -5rem;
}

.is-dark {
  color: $white;

  h1, h2, h3, p, a {
    color: $white;
  }
}

.is-background-container {
  position: relative;
  z-index: 1;
  background: $white;

  &.is-dark {
    background: $black;
  }
}

.background-image-container {
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;

  img {
    object-fit: cover;
    object-position: center;
    left: -5%;
    top: -5%;
    width: 110%;
    height: 110%;
  }
}

/* General Styles */
a.logo {
  position: relative;
  display: inline-block;

  .svg {
    height: 35px;
    width: auto;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

nav.main-nav {
  padding: 1em 0;
  position: fixed;
  margin: 0px auto;
  width: 100%;

  &.is-light {
    color: $white;

    h1, h2, h3, a {
      color: $white;
    }

    .logo svg {
      fill: $white;
    }
  }
}

.hero.home {
  min-height: 100vh;
  background: $black;
  text-align: left;

  h1, h2, h3 {
    max-width: 45rem;
  }

  p {
    max-width: 35rem;
  }

  // offset container to make space for the overlapping content later on
  .container {
    margin-top: -5rem;
  }
}

section.home-cases {
  .tile.is-child {
    height: 60vh;
    padding: 5rem 4rem;
    transition: all 0.5s;

    @include tablet {
      height: 80vh;
    }

    @include widescreen {
      padding: 6rem 5rem;
    }

    h1, h2, h3, p.is-subheading {
      max-width: 45rem;
    }

    h1 {
      @include widescreen-only {
        font-size: 2.5rem;
      }
    }

    p {
      max-width: 20rem;
      margin-bottom: 1em;
    }

    img {
      opacity: 0.8;
      transition: all 0.5s;
    }

    .description {
      visibility: hidden;
      opacity: 0;

      transition: all 0.5s;
    }

    &:hover {
      transform: scale(0.99);

      .description {
        visibility: visible;
        opacity: 1;
        transform: translateX(0)
      }

      img {
        transform: scale(1.02);
        opacity: 0.6;
      }
    }
  }
}